
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="two wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">About us</a>
            <a href="#" class="item">Bot rules</a>
            <a href="#" class="item">Our team</a>
            <a href="#" class="item">Support</a>
          </div>
        </div>
        <div class="two wide column">
          <h4 class="ui inverted header">Curator</h4>
          <div class="ui inverted link list">
            <a href="/blacklist" class="item">Blacklist</a>
            <a href="/appeal" class="item">Appeal</a>
            <a href="/contact" class="item">Contact</a>
            <a href="/terms-and-privacy" class="item">Terms & Privacy</a>
          </div>
        </div>
        <div class="two wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Curation</a>
            <a href="#" class="item">Reputation</a>
            <a href="#" class="item">Investment</a>
            <a href="#" class="item">Exposure</a>
          </div>
        </div>
        <div class="two wide column">
          <h4 class="ui inverted header">Community</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Community</a>
            <a href="#" class="item">Our blog</a>
            <a href="#" class="item">Discord chat</a>
            <a href="/sponsors" class="item">Sponsors</a>
          </div>
        </div>
        <div class="eight wide column">
          <h4 class="ui inverted header">The Curators</h4>
          <p>The Curators are a voluntary community of moderators, curators and investors who dedicate their time and resources to curating content from <a href="http://steem.io" target="_blank">Steem</a>. Our beneficiaries receive upvotes, exposures and reputation.</p>
          <p>Copyright 2018; All Rights Reserved. All logos are owned by their respective Copyright owners. Proudly powered by <a href="https://github.com/peerquery/curator" target="_blank">Curator</a>. </p>
        </div>
      </div>
    </div>
  </div>

  