<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Frequently Asked Questions</title>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <link rel="stylesheet" href="/build/dist/styles.css" />

</head>
<body>

  <!-- ejs -->
  
  	<% include ../partials/navbar.ejs %>
  
  <!-- ejs -->
  
  


<div class="ui text container" style="margin-top:100px">

  <!-- ejs -->
  
  	<% include ../partials/notifications.ejs %>
  
  <!-- ejs -->
  
  
  
  
  
  
	<div class="ui styled fluid accordion">
		
		<!-- authors faqs -->
		
		<div class="active title">
			<i class="dropdown icon"></i>
			Author FAQs
		</div>
		<div class="active content">
			What the author should know about Curator
			<div class="accordion">
				<div class="active title">
					<i class="dropdown icon"></i>
					What are the benefits of using a curation service
				</div>
				<div class="active content">
					By joining a curation service, you stand the change of receiving rewards from our bot with no reward splitting while also being featured in our daily digests for more promotion. You also get custom reputation which can be used cement yourself as a power Steemian.
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					How do I submit content?
				</div>
				<div class="content">
					<p>Curator stream its content directly from the Blockchain hence there is not need to submit your content. All you have to do is to make sure your post meets the curation class we are targeting(post tag or app) and it will be automatically included in our review.</p>
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					Can I appeal the curation of my post?
				</div>
				<div class="content">
					Yes you can, however you can only make appeals on rejected posts. Use the form on the appeal page to submit your appeals.
				</div>
			</div>
		</div>
		
		<!-- team faqs -->
		
		<div class="title">
			<i class="dropdown icon"></i>
			Team FAQs
		</div>
		<div class="content">
			What the team should know about Curator
			<div class="accordion">
				<div class="active title">
					<i class="dropdown icon"></i>
					How do I join Curator?
				</div>
				<div class="active content">
					<p>Simply request an invite from the team using the contact page and we will get in touch with you. If you are interested in your comapny we will send you an invite email with instructions on how to activate your account.</p>
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					How is the team compensated?
				</div>
				<div class="content">
					Curators are compensated for the number of curations they render each day. Admins and Moderators are paid for their with a fixed rate as determined by the owner or admins. All compensations come in the form of daily upvote on post of the member's account.
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					How private are our chat conversations?
				</div>
				<div class="content">
					Each of the three conversations have their own levels of privacy. <b>Public</b> conversations are visible to all and are stored for later retrievals. <b>Personal</b> conversations are delivered only to the intended users, but stored for later retrieval. <b>Snap</b> conversations are visible to all and are stored temporally in the browser of all active users. Snap messages are cleared once a user refreshes or closes their browser.
				</div>
			</div>
		</div>
		
		<!-- sponsor faqs -->
		
		<div class="title">
			<i class="dropdown icon"></i>
			Sponsor FAQs
		</div>
		<div class="content">
			What the sponsor should know about Curator
			<div class="accordion">
				<div class="active title">
					<i class="dropdown icon"></i>
					For which reasons should I support Curator?
				</div>
				<div class="active content">
					<p>Our Curation service supports good authors on Steem, serving as a motivating factor for creating quality content. Supporting our work improves content quality on Steem, increasing the overall value of Steem.</p>
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					What do I get out of supporting Curator?
				</div>
				<div class="content">
					Our sponsors are able to connect with the community. They receive publicity from our services for their witness campaign, products and service.
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					Which type of investors can most benefit from Curator?
				</div>
				<div class="content">
					<p><b>Witnesses</b>, <b>Steem apps</b> and <b>Steem products and services</b> are likely to benefit the most from delegating to our service as it would provide them with the opportunity connect with and to promote their interest among the community.</p>
				</div>
			</div>
		</div>
		
		
		
	</div>
  
  
  
  
  <div style="margin-top: 50px; margin-bottom: 50px"></div>
  
  <!--
  
	<div class="ui styled fluid accordion">
	
		<div class="active title">
			<i class="dropdown icon"></i>
			How to admin like a pro
		</div>
		<div class="active content">
			<p>...</p>
		</div>
	
		<div class="title">
			<i class="dropdown icon"></i>
			How to curate like a pro
		</div>
		<div class="content">
			<p>...</p>
		</div>
	
		<div class="title">
			<i class="dropdown icon"></i>
			How to moderate like a pro
		</div>
		<div class="content">
			<p>...</p>
		</div>
	
		<div class="title">
			<i class="dropdown icon"></i>
			When and how do I get paid?
		</div>
		<div class="content">
			<p>...</p>
		</div>
	
		<div class="title">
			<i class="dropdown icon"></i>
			How do I start a discussion?
		</div>
		<div class="content">
			<p>...</p>
		</div>
	
		<div class="title">
			<i class="dropdown icon"></i>
			What is the code of conduct?
		</div>
		<div class="content">
			<p>Be nice, stick to the common interest and mind you own business; everything else is strictly forbidden.</p>
		</div>
	
	</div>
	
	
	-->

</div>



  <!-- ejs -->
  
  	<% include ../partials/footer.ejs %>
  
  <!-- ejs -->
  
  
	
	<script src="/build/dist/scripts.js"></script>
  


<script>
$('.ui.accordion')
  .accordion()
;
</script>

</body>

</html>