<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Curators</title>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
  <link rel="stylesheet" href="/css/custom.css" />
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  
  <script src="/js/timeago.js"></script>
  <script src="/js/custom.js"></script>

</head>
<body>

  <!-- ejs -->
  
  	<% include ../partials/navbar.ejs %>
  
  <!-- ejs -->
  
  

<div>
<div class="ui container" style="margin-top:100px">

<div class="ui stackable grid">

	<div class="four wide column">
	

  <!-- sidebar -->
  
  	
		<div class="ui padded segment" id="sidebar" style="display:none">
	
			
			
      <a class="ui red ribbon label">Overview this month</a>
		
		<div class="canvas-container" style="margin-top: 15px">
			<canvas id="cvs_stats"></canvas>
		</div>
		
		<div class="ui list">
		
		<a class="item" style="color:red">
			<div class="header right floated" style="color:red;" id="approved"></div>
			<div class="content">
			<div class="description">
				<i class="red check icon"></i>
				<span style="color:red;">Approved</span>
			</div>
			</div>
		</a>
		
			<div class="ui divider"></div>
			
		<a class="item">
			<div class="header right floated" style="color:orange;" id="voted"></div>
			<div class="content">
			<div class="description">
				<i class="orange dollar times icon"></i>
				<span style="color:orange;">Voted</span>
			</div>
			</div>
		</a>
		
			<div class="ui divider"></div>
			
		<a class="item">
			<div class="header right floated" style="color:pink;" id="lost"></div>
			<div class="content">
			<div class="description">
				<i class="pink eye slash icon"></i>
				<span style="color:pink;">Lost</span>
			</div>
			</div>
		</a>
		
			<div class="ui divider"></div>
			
		<a class="item">
			<div class="header right floated" style="color:olive;" id="rejected"></div>
			<div class="content">
			<div class="description">
				<i class="olive times icon"></i>
				 <span style="color:olive;">Rejected</span>
			</div>
			</div>
		</a>
		
		
		
		</div>
		
			
			
		</div>
  
  <!-- sidebar -->
  
	
	</div>
  
  
	<div class="twelve wide column">
	
	
	
  <!-- ejs -->
  
  	<% include ../partials/notifications.ejs %>
  
  <!-- ejs -->
  
  
		<div class="ui three item menu">
			<a class="active item" id="new_curators">
				<i class="child icon"></i>
				New curators
			</a>
			<a class="item" id="top_curators">
				<i class="user plus icon"></i>
				Top Curators
			</a>
			<a class="item" id="inactive_curators"">
				<i class="user times icon"></i>
				Inactive curators
			</a>
		</div>

  
  
  

  <div class="ui basic segment" id="users_segment">
	
	
	<div class="ui special three cards" id="users_list">	
	
	
	
	
	</div>
	
	
	
	
	
	
	<div style="margin-top:30px; display: none">	
		<button class="ui right floated labeled icon button" name="button" id="more-btn">
			Lead more
			<i class="redo icon"></i>
		</button>
	</div>
	
	
	
	
	
  
	
</div>

	
	</div>

</div>
</div>


<script>
	//
	
$( document ).ready(function() {
    
	var offset = 0;
	var menu = "";
	var total_stats = 0;
	
	
	function get(api) {
	
		offset = 0;
		var api = api;
		$("#users_list").html("");
		$("#more-btn").hide();
		$("#users_segment").addClass("loading");
		$("#more-btn").attr("data-api", api);
		$("#more-btn").attr("data-offset", 20);
		
		load(api);
		
	}
	
	
	function more(dataset) {
	
		offset = $("#more-btn").data("offset") + 20;
		var api = $("#more-btn").data("api");
		$("#users_list").html("");
		$("#more-btn").hide();
		$("#users_segment").addClass("loading");
		$("#more-btn").attr("data-api", api);
		$("#more-btn").attr("data-offset", offset);
		
		load(api);
	
	}
	
	
	function load(api) {
		
		$.get(api + offset, function(data, status){
			
				$("#users_segment").removeClass("loading");
				//console.log(data);
				
				
				if (!data || data == "") {
					
					$("#users_list").html("<h3 class='ui center aligned header'>Sorry, nothing found.</h3>");
					
				} else {
				
					if(data.length > 19) $("#more-btn").show();
				
					offset = offset + data.length;
					
					for (x in data) {
						create_users(data[x]);
					}
					
					$('.ui.rating')
						.rating('disable')
					;
	
					$('.special.cards .image').dimmer({
						on: 'hover'
					});
				}
				
		}).fail(function() {
		
			alert("Err fetching results, please try again");
		
		});
	}
	
	
	function create_users(data) {
		
		var card = document.createElement("a");
		card.className = "card";
		card.href = "/curator/" + data.account;
		
		var header_content = document.createElement("div");
		header_content.className = "content";
	
		var history = document.createElement("div");
		history.className = "right floated meta";
	
		var history_i = document.createElement("i");
		history_i.className = "history icon";
	
		var history_span = document.createElement("span");
		history_span.innerText = jQuery.timeago(data.created);

		//
		history.appendChild(history_i);
		history.appendChild(history_span);

		
		var img = document.createElement("img");
		img.className = "ui avatar image";
		img.src = "https://steemitimages.com/u/" + data.account + "/avatar";
		
		
		var author_span = document.createElement("span");
		author_span.innerText = "@" + data.account;
		
		
		//--
		header_content.appendChild(history);
		header_content.appendChild(img);
		header_content.appendChild(author_span);
		
		
		var points_span = document.createElement("span");
		points_span.innerText = "(" + data.score + ")";
		
		var curation_content = document.createElement("div");
		curation_content.className = "content";
		
		var curated = document.createElement("i");
		curated.className = "balance scale icon";
		
		var curations = document.createElement("span");
		curations.innerText = data.curations + " curations";
		
		//--
		curation_content.appendChild(curated);
		curation_content.appendChild(curations);
		
		
		var extra_content = document.createElement("div");
		extra_content.className = "extra content";
		
		var div_rating = document.createElement("div");
		div_rating.className = "extra";
		
		var ratings_span = document.createElement("span");
		ratings_span.innerText = "Ratings: ";
		
		var ratings = document.createElement("div");
		ratings.className = "ui star rating";
		ratings.setAttribute("data-rating", get_ratings(data.points));
		
		//--
		div_rating.appendChild(ratings_span);
		div_rating.appendChild(ratings);
		
		extra_content.appendChild(div_rating);
		
		//--
		card.appendChild(header_content);
		card.appendChild(curation_content);
		card.appendChild(extra_content);
		
		document.getElementById("users_list").appendChild(card);
		
	}
	
	
	function get_ratings(score) {
		if (score < 50) return 0;
		else if (score > 50 ) return 1;
		else if (score > 150 ) return 2;
		else if (score > 300 ) return 3;
		else if (score > 500 ) return 4;
		else if (score > 1000 ) return 5;
	
	}
	
	
	
	//click event listeners
	
	//menu buttons
	$("#new_curators").click(function() {
		get('/api/new_curators/');
	})
	
	$("#top_curators").click(function() {
		get('/api/top_curators/');
	})
	
	$("#inactive_curators").click(function() {
		get('/api/inactive_curators/');
	})
	
	//more btn
	$("#more-btn").click(function() {
		more(this.dataset);
	})
	
	//init
	get('/api/new_curators/');
	
	
	function draw(approved, voted, curies, rejected, div) {
		var canvas = document.getElementById(div);
		
		canvas.width = inWidth = 150;
		canvas.height = inHeight = 150;
		var ctx = canvas.getContext("2d");
		
		//draw for total_stats
		ctx.beginPath();
		ctx.arc(inWidth/2, inHeight/2, 30, 0, Math.PI * 2);
		ctx.strokeStyle = "#1abc9c";
		ctx.lineWidth = 10;
		ctx.stroke();
		ctx.closePath();
		
		//draw for approved
		var angle = approved/100 * 360;
		ctx.beginPath();
		ctx.arc(inWidth/2, inHeight/2, 40, -90 * Math.PI/180, (angle - 90) * Math.PI/180);
		ctx.strokeStyle = "red";
		ctx.lineWidth = 10;
		ctx.stroke();
		ctx.closePath();
		
		//draw for voted
		var angle = voted/100 * 360;
		ctx.beginPath();
		ctx.arc(inWidth/2, inHeight/2, 50, -90 * Math.PI/180, (angle - 90) * Math.PI/180);
		ctx.strokeStyle = "orange";
		ctx.lineWidth = 10;
		ctx.stroke();
		ctx.closePath();
		
		//draw for team
		var angle = curies/100 * 360;
		ctx.beginPath();
		ctx.arc(inWidth/2, inHeight/2, 60, -90 * Math.PI/180, (angle - 90) * Math.PI/180);
		ctx.strokeStyle = "pink";
		ctx.lineWidth = 10;
		ctx.stroke();
		ctx.closePath();
		
		//draw for rejected
		var angle = rejected/100 * 360;
		ctx.beginPath();
		ctx.arc(inWidth/2, inHeight/2, 70, -90 * Math.PI/180, (angle - 90) * Math.PI/180);
		ctx.strokeStyle = "olive";
		ctx.lineWidth = 10;
		ctx.stroke();
		ctx.closePath();

		ctx.textBaseline = "middle";
		ctx.textAlign = "center";
		ctx.font = "20px arial bold";
		ctx.fillStyle = "#1abc9c"
		ctx.fillText(approved + "%", inWidth/2, inHeight/2);
	
	}
	
	function percent(value) {
		if(value == 0) return 0;
		return Math.floor((value / total_stats) * 100);
	}
	
	
	
	(async () => {
		
		$.get('/api/curation_stats', function(data, status){
			//console.log(data);
			
			var approved = data[0][0].approved_count.toLocaleString() || 0;
			var voted = data[1][0].voted_count.toLocaleString() || 0;
			var lost = data[2][0].lost_count.toLocaleString() || 0;
			var rejected = data[3][0].rejected_count.toLocaleString() || 0;
			
			total_stats = Number(approved) + Number(voted) + Number(lost) + Number(rejected);
			
			$("#approved").text(approved + " (" + percent(approved) + "%)");
			$("#voted").text(voted + " (" + percent(voted) + "%)");
			$("#lost").text(lost + " (" + percent(lost) + "%)");
			$("#rejected").text(rejected + " (" + percent(rejected) + "%)");
			
			draw(percent(approved), percent(voted), percent(lost), percent(rejected), "cvs_stats");
			
			$("#sidebar").show();
		
		}).fail(function() {
		
			alert("Error fetching community stats");
		
		});
		
	})();
	
	
});
  
</script>


  <!-- ejs -->
  
  	<% include ../partials/footer.ejs %>
  
  <!-- ejs -->
  
  

</body>

</html>