<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Account</title>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <link rel="stylesheet" href="/build/dist/styles.css" />
  
</head>
<body class="office">

  <!-- ejs -->
  
  	<% include ../partials/navbar.ejs %>
  
  <!-- ejs -->
  
  


<div class="ui container" style="margin-top:100px">

<div class="ui stackable grid">

	<div class="four wide column">
	

  <!-- ejs -->
  
  	<% include ../partials/sidebar.ejs %>
  
  <!-- ejs -->
  
	
	</div>
  
  
	<div class="twelve wide column">
	
	
	
  <!-- ejs -->
  
  	<% include ../partials/notifications.ejs %>
  
  <!-- ejs -->
  


		<div class="ui loading segment" id="info_segment">
			
			<div class="ui grid">
				<div class="eight wide column">
				
					<a class="ui orange ribbon label" id="curation" target="_blank">View curation trail</a>
				
				<table class="ui very basic celled table">
  <thead>
    <tr><th></th>
    <th></th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled user plus icon"></i>
          <div class="content">
            Joined
            <div class="sub header">curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="joined"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled handshake icon"></i>
          <div class="content">
            Invitor
            <div class="sub header">to curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="invitor"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled envelope icon"></i>
          <div class="content">
            Email
            <div class="sub header">on curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="email"></span>
      </td>
    </tr>
	
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled power off icon"></i>
          <div class="content">
            Status
            <div class="sub header">at curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="status"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled tag icon"></i>
          <div class="content">
            Tag
            <div class="sub header">on curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="tag"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled chess icon"></i>
          <div class="content">
            Role
            <div class="sub header">on curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="role"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled star icon"></i>
          <div class="content">
            Reputation
            <div class="sub header">on curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="rep"></span>
      </td>
    </tr>
	
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled balance scale icon"></i>
          <div class="content">
            Curations
            <div class="sub header">on curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="curations"></span>
      </td>
    </tr>
	
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled rss icon"></i>
          <div class="content">
            Last activity
            <div class="sub header">on curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="activity"></span>
      </td>
    </tr>
	
  </tbody>
</table>

			
				</div>
				<div class="eight wide column">
				
				
					<a class="ui orange right ribbon label" id="steem" target="_blank">View on Steemit</a>
					
				
				<table class="ui very basic celled table">
  <thead>
    <tr><th></th>
    <th></th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled microchip icon"></i>
          <div class="content">
            Mined
            <div class="sub header">on steem
          </div>
        </div>
      </h4></td>
      <td>
        <span id="mined"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled id card icon"></i>
          <div class="content">
            ID
            <div class="sub header">steem id
          </div>
        </div>
      </h4></td>
      <td>
        <span id="id"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled money icon"></i>
          <div class="content">
            Balance
            <div class="sub header">steem
          </div>
        </div>
      </h4></td>
      <td>
        <span id="balance"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled history icon"></i>
          <div class="content">
            Created
            <div class="sub header">on steem
          </div>
        </div>
      </h4></td>
      <td>
                <span id="created"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled archive icon"></i>
          <div class="content">
            Count
            <div class="sub header">posts
          </div>
        </div>
      </h4></td>
      <td>
	  <span id="count"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled bullseye icon"></i>
          <div class="content">
            Proxy
            <div class="sub header">on steem
          </div>
        </div>
      </h4></td>
      <td>
        <span id="proxy"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled star icon"></i>
          <div class="content">
            Reputation
            <div class="sub header">on steem
          </div>
        </div>
      </h4></td>
      <td>
        <span id="reputation"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled dollar icon"></i>
          <div class="content">
            SBD
            <div class="sub header">on steem
          </div>
        </div>
      </h4></td>
      <td>
        <span id="sbd"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled users icon"></i>
          <div class="content">
            Recovery
            <div class="sub header">on steem
          </div>
        </div>
      </h4></td>
      <td>
        <span id="recovery"></span>
      </td>
    </tr>
  </tbody>
</table>

			
				
				</div>
			</div>
			
		</div>

	
	</div>

	</div>

</div>


	
	<script src="/build/dist/scripts.js"></script>
	<script src="/build/dist/account.js"></script>
  


  <!-- ejs -->
  
  	<% include ../partials/footer.ejs %>
  
  <!-- ejs -->
  
  
</body>

</html>