<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Account</title>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <link rel="stylesheet" href="/build/dist/styles.css" />
  
</head>
<body class="office">

  <!-- ejs -->
  
  	<% include ../partials/navbar.ejs %>
  
  <!-- ejs -->
  
  


<div class="ui container" style="margin-top:100px">

<div class="ui stackable grid">

	<div class="four wide column">
	

  <!-- ejs -->
  
  	<% include ../partials/sidebar.ejs %>
  
  <!-- ejs -->
  
	
	</div>
  
  
	<div class="twelve wide column">
	
	
	
  <!-- ejs -->
  
  	<% include ../partials/notifications.ejs %>
  
  <!-- ejs -->
  


		<div class="ui loading segment" id="info_segment">
			
			<div class="ui grid">
				<div class="eight wide column">
				
					<a class="ui orange ribbon label" id="curation" target="_blank">View curation trail</a>
				
				<table class="ui very basic celled table">
  <thead>
    <tr><th></th>
    <th></th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled user plus icon"></i>
          <div class="content">
            Joined
            <div class="sub header">curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="joined"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled handshake icon"></i>
          <div class="content">
            Invitor
            <div class="sub header">to curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="invitor"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled envelope icon"></i>
          <div class="content">
            Email
            <div class="sub header">on curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="email"></span>
      </td>
    </tr>
	
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled power off icon"></i>
          <div class="content">
            Status
            <div class="sub header">at curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="status"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled tag icon"></i>
          <div class="content">
            Tag
            <div class="sub header">on curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="tag"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled chess icon"></i>
          <div class="content">
            Role
            <div class="sub header">on curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="role"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled star icon"></i>
          <div class="content">
            Reputation
            <div class="sub header">on curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="rep"></span>
      </td>
    </tr>
	
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled balance scale icon"></i>
          <div class="content">
            Curations
            <div class="sub header">on curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="curations"></span>
      </td>
    </tr>
	
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled rss icon"></i>
          <div class="content">
            Last activity
            <div class="sub header">on curator
          </div>
        </div>
      </h4></td>
      <td>
        <span id="activity"></span>
      </td>
    </tr>
	
  </tbody>
</table>

			
				</div>
				<div class="eight wide column">
				
				
					<a class="ui orange right ribbon label" id="steem" target="_blank">View on Steemit</a>
					
				
				<table class="ui very basic celled table">
  <thead>
    <tr><th></th>
    <th></th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled microchip icon"></i>
          <div class="content">
            Mined
            <div class="sub header">on steem
          </div>
        </div>
      </h4></td>
      <td>
        <span id="mined"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled id card icon"></i>
          <div class="content">
            ID
            <div class="sub header">steem id
          </div>
        </div>
      </h4></td>
      <td>
        <span id="id"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled money icon"></i>
          <div class="content">
            Balance
            <div class="sub header">steem
          </div>
        </div>
      </h4></td>
      <td>
        <span id="balance"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled history icon"></i>
          <div class="content">
            Created
            <div class="sub header">on steem
          </div>
        </div>
      </h4></td>
      <td>
                <span id="created"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled archive icon"></i>
          <div class="content">
            Count
            <div class="sub header">posts
          </div>
        </div>
      </h4></td>
      <td>
	  <span id="count"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled bullseye icon"></i>
          <div class="content">
            Proxy
            <div class="sub header">on steem
          </div>
        </div>
      </h4></td>
      <td>
        <span id="proxy"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled star icon"></i>
          <div class="content">
            Reputation
            <div class="sub header">on steem
          </div>
        </div>
      </h4></td>
      <td>
        <span id="reputation"></span>
      </td>
    </tr>
  
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled dollar icon"></i>
          <div class="content">
            SBD
            <div class="sub header">on steem
          </div>
        </div>
      </h4></td>
      <td>
        <span id="sbd"></span>
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="disabled users icon"></i>
          <div class="content">
            Recovery
            <div class="sub header">on steem
          </div>
        </div>
      </h4></td>
      <td>
        <span id="recovery"></span>
      </td>
    </tr>
  </tbody>
</table>

			
				
				</div>
			</div>
			
		</div>

	
	</div>

	</div>

</div>


	
	<script src="/build/dist/scripts.js"></script>
  

<script>
	//
$( document ).ready(function() {
		
		
	try{
	
		(async () => {
		
	
			var client = new dsteem.Client('https://api.steemit.com');
		
			const active_user = user_data.username;
			const active_user_authority = user_data.authority;
	
			var curator_account = await Promise.resolve($.get("/api/account/" + active_user));
			account = curator_account[0];
			//console.log(curator_account);
			
			$('#joined').text(jQuery.timeago(account.created));
			$('#invitor').text(account.invitor);
			$('#email').text(account.email);
			$('#status').text(account.status);
			$('#tag').text(account.tag);
			$('#role').text(account.role);
			$('#curations').text(account.curations);
			$('#rep').html("<span class = 'ui star rating' data-max-rating='5' data-rating='" + get_ratings(account.points) + "'></span>");
			$('#activity').text(account.activity);
			
			$('#steem').attr('href', "https://steemit.com/@" + active_user);
			$('#curation').attr('href', "/curator/" + active_user);
		
			var steem_account = await client.database.getAccounts([active_user]);
			steem_account = steem_account[0];
			
			//console.log(steem_account);
			
			$('#mined').text(steem_account.mined);
			$('#id').text(steem_account.id);
			$('#balance').text(steem_account.balance);
			$('#created').text(jQuery.timeago(steem_account.created));
			$('#count').text(steem_account.post_count);
			$('#proxy').text(steem_account.proxy);
			$('#reputation').text(repLog10(steem_account.reputation));
			$('#sbd').text(steem_account.sbd_balance);
			$('#recovery').text(steem_account.recovery_account);
			
			//console.log(steem_account)
			
			
			$('.ui.rating')
				.rating('disable')
			;
			
			
			$('#info_segment').removeClass('loading');
			
			
			
		})()
		
		
	} catch(err){
		
		console.log(err);
		
	}
		
	function get_ratings(score) {
		if (score < 50) return 0;
		else if (score > 50 ) return 1;
		else if (score > 150 ) return 2;
		else if (score > 300 ) return 3;
		else if (score > 500 ) return 4;
		else if (score > 1000 ) return 5;
	
	}
	
	
	function log10(str) {
		const leadingDigits = parseInt(str.substring(0, 4));
		const log = Math.log(leadingDigits) / Math.LN10 + 0.00000001;
		const n = str.length - 1;
		return n + (log - parseInt(log));
	}

	const repLog10 = rep2 => {
		if (rep2 == null) return rep2;
		let rep = String(rep2);
		const neg = rep.charAt(0) === '-';
		rep = neg ? rep.substring(1) : rep;

		let out = log10(rep);
		if (isNaN(out)) out = 0;
		out = Math.max(out - 9, 0); // @ -9, $0.50 earned is approx magnitude 1
		out = (neg ? -1 : 1) * out;
		out = out * 9 + 25; // 9 points per magnitude. center at 25
		// base-line 0 to darken and < 0 to auto hide (grep rephide)
		out = parseInt(out);
		return out;
	};
	
	
});
	
	
	
</script>


  <!-- ejs -->
  
  	<% include ../partials/footer.ejs %>
  
  <!-- ejs -->
  
  
</body>

</html>