<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blacklist</title>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <link rel="stylesheet" href="/build/dist/styles.css" />

</head>
<body class="office">

  <!-- ejs -->
  
  	<% include ../partials/navbar.ejs %>
  
  <!-- ejs -->
  
  


<div class="ui container" style="margin-top:100px">

<div class="ui stackable grid">

	<div class="four wide column">
	

  <!-- ejs -->
  
  	<% include ../partials/sidebar.ejs %>
  
  <!-- ejs -->
  
	
	</div>
  
  
	<div class="twelve wide column">
	
	
  <!-- ejs -->
  
  	<% include ../partials/notifications.ejs %>
  
  <!-- ejs -->
  
  
			
  
		<div class="ui four item menu">
			<a class="active item" id="blacklist_reported">
				<i class="exclamation triangle icon"></i>
				Reported
			</a>
			<a class="item" id="blacklist_probation">
				<i class="eye icon"></i>
				Probation
			</a>
			<a class="item" id="blacklist_banned">
				<i class="ban icon"></i>
				Banned
			</a>
			<a class="item" id="blacklist_opt_out">
				<i class="hand paper outline icon"></i>
				Opted-out
			</a>
		</div>
			

		<div class="ui segment" id="blacklist_list_segment">
			
			<table class="ui very basic selectable table" id="blacklist_list">
  <thead>
    <tr>
      <th>Account</th>
      <th>Admitter</th>
      <th>Time</th>
      <th>Reason</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
			
			<div id="message"></div>
			
			<div class="ui divider"></div>
			
			<button class="ui basic button" id="add">
				<i class="icon user plus"></i>
				Add user
			</button>


		</div>

	
	
	</div>

</div>


<!-- add modal -->

<div class="ui new_blacklist tiny modal">
	<i class="close icon"></i>
	
	<div class="header">
			Add user to blacklist
	</div>
	<div class="content">

	<form class="ui form" id="new_blacklist_form">
  
		<div class="two fields">
	  
			<div class="required form_inputs field" id="new_blacklist_account_field">
				<label>Steem account</label>
				<input type="text" name="account" maxlength="20" placeholder="@account" id="new_blacklist_account">
			</div>
    
			<div class="required form_inputs field" id="new_blacklist_type_field">
				<label>Type</label>
			
				<div class="ui selection dropdown"  id="new_blacklist_type">
					<div class="default text">select</div>
					<i class="dropdown icon"></i>
					
					<div class="menu">
						<div id="report_option" class="item">reported</div>
						<div id="probate_option" class="item">probation</div>
						<div id="ban_option" class="item">banned</div>
						<div id="optout_option" class="item">opt_out</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="required form_inputs field" id="new_blacklist_reason_field">
			<label>
				<i class="info circle icon"></i>
				Reason for inclusion
			</label>
			<textarea id="new_blacklist_reason" name="description" placeholder="Reported by Steem Cleaners as a serial plagiarist content bot."></textarea>
		</div>
		
		<div class="ui success message">
			<div class="header">Great!</div>
			<p>You've successfully added the new user!</p>
		</div>
		
		<div class="ui error message">
			<div class="header">Sorry</div>
			<p>There was an error, please try again.</p>
		</div>
		
		<div class="ui message" id="form_message">
			<div class="header">Important things to note:</div>
			<ul class="list">
				<li>Users on blacklist will keep the reputation they had prior to admission</li>
				<li>New posts of accounts on blacklist will not be indexed for curation</li>
				<li>You can add users as opt out if they ask you to exempt them from curation</li>
				<li>All team members(owner, admins, mods and curies) are by default on opt out list</li>
			</ul>
		</div>
  
	</form>

	</div>
	
	<div class="actions">
		<div class="ui green form_inputs button" id="add_blacklist" id="add_member_button">Admit</div>
		<div class="ui cancel button">Cancel</div>
	</div>

</div>


<!-- modal end -->



<!-- delete modal -->


<div class="ui basic modal">
	<div class="ui icon header">
		<i class="user times icon"></i>
		Remove blacklist member
	</div>
	<div class="content">
		<p>Are you sure you want to part ways with this blacklist member? You could add them later.</p>
	</div>
	<div class="actions">
		<div class="ui red basic cancel inverted button">
			<i class="remove icon"></i>
			No
		</div>
		<div class="ui green inverted button" id="remove_blacklist" id="remove_btn">
			<i class="checkmark icon"></i>
			Yes
		</div>
	</div>
</div>


<!-- modal end -->






</div>


	
	<script src="/build/dist/scripts.js"></script>
	<script src="/build/dist/blacklist.js"></script>
  

  <!-- ejs -->
  
  	<% include ../partials/footer.ejs %>
  
  <!-- ejs -->
  

</body>

</html>