<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Curation</title>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <link rel="stylesheet" href="/build/dist/styles.css" />

</head>
<body class="office">

  <!-- ejs -->
  
  	<% include ../partials/navbar.ejs %>
  
  <!-- ejs -->
  
  


<div class="ui container" style="margin-top:100px">

<div class="ui stackable grid">

	<div class="four wide column">
	

  <!-- ejs -->
  
  	<% include ../partials/sidebar.ejs %>
  
  <!-- ejs -->
  
	
	</div>
  
  
	<div class="twelve wide column">
	
	
  <!-- ejs -->
  
  	<% include ../partials/notifications.ejs %>
  
  <!-- ejs -->
  
  
  
		<div class="ui five item menu">
			<a class="active item" id="curating" data-tooltip="New post for curation">
				<i class="balance scale icon"></i>
				Curating
			</a>
			<a class="item" id="approved" data-tooltip="Posts which have been approved">
				<i class="check icon"></i>
				Approved
			</a>
			<a class="item" id="ignored" data-tooltip="Posts over 24 hours which curators have seen but not approved or rejected">
				<i class="hourglass end icon"></i>
				Ignored
			</a>
			<a class="item" id="lost" data-tooltip="Posts over 24 hours ago which no curator has seen yet">
				<i class="eye slash icon"></i>
				Lost
			</a>
			<a class="item" id="rejected" data-tooltip="Posts which have been rejected">
				<i class="times icon"></i>
				Rejected
			</a>
		</div>


		<div class="ui segment" id="curate_segment">
		
			<div id="load_button_div">
				<button class="fluid ui button" id="curate" id="start_curate">Curate</button>
			</div>
		
		<div id="post_meta" style="display:none">
		
			
		<div id="post_meta" style="">
		
			<div class="content">
				<div style="display:inline">
					<img class="ui avatar image" src="/assets/img/person.png" id="post_author_img" style="display:inline">
					<div style="display:inline">
						<a class="header" id="post_author" target="_blank" style="display:inline"></a>
						<span><i class="disabled clock alternate icon"></i><span class="timeago" id="post_time"></span></span>
					</div>
					<a id="steemit_view" target="_blank" style="float:right">STEEMIT <i class="disabled external alternate icon"></i></a>
				</div>
				<br/>
				<div class="description"><h2 id="post_title"></h2></div>
			</div>
		
		</div>
			
			
			
			<div class="ui divider"></div>
			
		</div>
			
			
		<div class="renderer" id="post_body"></div>
		
		<br/>
		
			<div class="ui green segment" id="post_actions" style="display:none; margin-top:40px">
				
				<div class="ui curators form" id="curator_form">
				
					<div class="field" id="remarks_field">
						<label>
							<i class="info circle icon"></i>
							Curator's remarks
						</label>
						<textarea id="remarks" class="form_inputs"></textarea>
					</div>
					
					<div class="ui success message">
						<div class="header">Successfully submitted</div>
						<p>You're down with one more work!</p>
					</div>
					
					<div class="ui error message">
						<div class="header">Sorry</div>
						<p>There was an error submitting your request.</p>
					</div>
					
					<div class="options">
					
						<select class="ui search dropdown" id="rate">
							<option value="1">1% - Nice</option>
							<option value="3" selected>3% - Average</option>
							<option value="5">5% - Interesting</option>
							<option value="10">10% - Genius</option>
							<option value="15">15% - Awesome</option>
							<option value="20">20% - Remarkable</option>
							<option value="25">25% - Exceptional</option>
							<option value="30">30% - Outstanding</option>
						</select>
					
					
					<div class="ui buttons">
						<button class="ui positive form_inputs button" id="approve">Approve</button>
							<div class="or"></div>
						<button class="ui negative form_inputs button" id="reject">Reject</button>
					</div>
					<button class="ui orange labeled icon button" id="next">
						<i class="angle double right icon"></i>
						Next
					</button>
					
					</div>
					
					
				</div>
			
		
			</div>
		
		</div>
		
		
		<div class="ui segment" id="post_list_segment" style="display:none">
			
			
			<div class="ui very relaxed list" id="post_list">
  
			</div>
			
			
			<div class="ui post-view modal">
				<div class="header" id="modal-header"></div>
				<div class="scrolling content" id="modal-content" class="renderer">
					
				</div>
				
				<div class="header">
					<div class="ui horizontal list">
						<div class="item">
							<img class="ui avatar image" id="modal-author-img" src="/assets/img/person.png">
							<div class="content">
								<div class="header">Author</div>
								<a target="_blank" id="modal-author"></a>
							</div>
						</div>
						<div class="item">
							<img class="ui avatar image" id="modal-curator-img" src="/assets/img/person.png">
							<div class="content">
								<div class="header">Curator</div>
								<a target="_blank" id="modal-curator"></a>
							</div>
						</div>
						<div class="item">
							<i class="circular inverted teal percent icon"></i>
							<div class="content">
								<div class="header">Rate</div>
								<a id="modal-rate-show"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="actions">
					<div class="ui green approve button" id="modal-approve-btn" style="display:none">RE-Approve</div>
					<div class="ui red reject button" id="modal-reject-btn" style="display:none">RE-Reject</div>
					<div class="ui cancel button">Cancel</div>
				</div>
			</div>
			
			
			
			<div class="ui tiny approve modal">
				<div class="header">RE-approve</div>
				
				<div class="content">
					<div class="ui form" id="modal-approve-form">
						<div class="field" id="approve-modal-remarks-field">
							<label>
								<i class="info circle icon"></i>
								Curator's remarks
							</label>
							<textarea id="approve-modal-remarks"></textarea>
						</div>
						
						<div class="modal">
							<select class="ui search dropdown" id="modal-rate">
								<option value="1">1% - Nice</option>
								<option value="3" selected>3% - Average</option>
								<option value="5">5% - Interesting</option>
								<option value="10">10% - Genius</option>
								<option value="15">15% - Awesome</option>
								<option value="20">20% - Remarkable</option>
								<option value="25">25% - Exceptional</option>
								<option value="30">30% - Outstanding</option>
							</select>
						</div>
				
						<div class="ui success message">
							<div class="header">Successfully submitted</div>
							<p>You've just RE-approved a post!</p>
						</div>
					
						<div class="ui error message">
							<div class="header">Sorry</div>
							<p>There was an error submitting your request.</p>
						</div>
					
					</div>
				</div>
				
				<div class="actions">
					<div class="ui green button" id="modal-approve">Approve</div>
					<div class="ui cancel button">Cancel</div>
				</div>
			</div>
			
			
			
			<div class="ui tiny reject modal">
				<div class="header">RE-reject</div>
				
				<div class="content">
					<div class="ui form" id="modal-reject-form">
						<div class="field" id="reject-modal-remarks-field">
							<label>
								<i class="info circle icon"></i>
								Curator's remarks
							</label>
							<textarea id="reject-modal-remarks"></textarea>
						</div>
						
						<div class="ui success message">
							<div class="header">Successfully submitted</div>
							<p>You've just RE-rejected a post!</p>
						</div>
					
						<div class="ui error message">
							<div class="header">Sorry</div>
							<p>There was an error submitting your request.</p>
						</div>
					
					</div>
				</div>
				
				<div class="actions">
					<div class="ui red button" id="modal-reject">Reject</div>
					<div class="ui cancel button">Cancel</div>
				</div>
			</div>
			
			
			
		</div>
		
		
		<div id="temp" style="display:none">
		</div>
		
		
	
	</div>

	</div>

</div>

	
	<script src="/build/dist/scripts.js"></script>
	<script src="/build/dist/curation.js"></script>
  

  <!-- ejs -->
  
  	<% include ../partials/footer.ejs %>
  
  <!-- ejs -->
  
  


</body>

</html>