<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <link rel="stylesheet" href="/build/dist/styles.css" />

</head>

<style>
</style>

<body class="office">

  <!-- ejs -->
  
  	<% include ../partials/navbar.ejs %>
  
  <!-- ejs -->
  
  


<div class="ui container" style="margin-top:100px">	
	
	
	
<div class="ui stackable grid">

	<div class="four wide column">
	

  <!-- ejs -->
  
  	<% include ../partials/sidebar.ejs %>
  
  <!-- ejs -->
  
	
	</div>
  
  
	<div class="twelve wide column">
	
	
	
  <!-- ejs -->
  
  	<% include ../partials/notifications.ejs %>
  
  <!-- ejs -->
  
  

		<div class="ui center loading aligned basic segment" id="main_segment">
		
		
	
			<div class="ui pointing below medium red label" style="margin-top: 10px; margin-bottom: 60px">
				<i class="dollar icon"></i>
				Bot stats
			</div>
	
			<div class="ui three cards">
				
				<div class="card">
					<div class="content">
					<div class="header">Voting power</div>
						<h2 class="ui center aligned icon header">
							<i class="circular signal icon"></i>
							<span id="voting_power"></span>
						</h2>
					</div>
				</div>
				
				<div class="card">
					<div class="content">
					<div class="header">Steem power</div>
						<h2 class="ui center aligned icon header">
							<i class="circular dollar icon"></i>
							<span id="steem_power"></span>
						</h2>
					</div>
				</div>
				
				<div class="card">
					<div class="content">
					<div class="header">Delegated SP</div>
						<h2 class="ui center aligned icon header">
							<i class="circular bolt icon"></i>
							<span id="delegated_sp"></span>
						</h2>
					</div>
				</div>
			
			</div>
			
			
		
			<div class="ui pointing below medium yellow label" style="margin-top: 60px; margin-bottom: 60px">
				<i class="chevron circle up icon"></i>
				Bot rate
			</div>
			
			
			<div class="ui three cards">
				
				<div class="card">
					<div class="content">
					<div class="header">Community</div>
						<h2 class="ui center aligned icon header">
							<i class="circular percent icon"></i>
							<span id="community_rate"></span>
						</h2>
					</div>
				</div>
				
				<div class="card">
					<div class="content">
					<div class="header">Team</div>
						<h2 class="ui center aligned icon header">
							<i class="circular percent icon"></i>
							<span id="team_rate"></span>
						</h2>
					</div>
				</div>
				
				<div class="card">
					<div class="content">
					<div class="header">Project</div>
						<h2 class="ui center aligned icon header">
							<i class="circular percent icon"></i>
							<span id="project_rate"></span>
						</h2>
					</div>
				</div>
			
			</div>
		
		
		
			<div class="ui pointing below medium olive label" style="margin-top: 60px; margin-bottom: 60px">
				<i class="hourglass half icon"></i>
				Curation
			</div>
			
			
			<div class="ui three cards">
				
				<div class="card">
					<div class="content">
					<div class="header">Total</div>
						<h2 class="ui center aligned icon header">
							<i class="circular percent icon"></i>
							<span id="total_posts"></span>
						</h2>
					</div>
				</div>
				
				<div class="card">
					<div class="content">
					<div class="header">Target</div>
						<h2 class="ui center aligned icon header">
							<i class="circular percent icon"></i>
							<span id="daily_curation"></span>
						</h2>
					</div>
				</div>
				
				<div class="card">
					<div class="content">
					<div class="header">Completed</div>
						<h2 class="ui center aligned icon header">
							<i class="circular percent icon"></i>
							<span id="voted_posts"></span>
						</h2>
					</div>
				</div>
			
			</div>
		
		
		
		
		</div>
	

		<div class="ui segment" style="margin-top: 60px; display:none" id="community_segment">
		<a class="ui orange ribbon label">Community</a>
			<div class="ui basic segment">
				
		<div class="ui small four statistics">

			<div class="statistic">
				<div class="value">
					<i class="id card icon"></i>
					<span id="total_team"></span>
				</div>
				<div class="label">
					Team
				</div>
			</div>
			<div class="statistic">
				<div class="text value">
					<span id="total_members"></span>
				</div>
				<div class="label">
					Authors
				</div>
			</div>
			<div class="statistic">
				<div class="value">
					<i class="briefcase icon"></i>
					<span id="total_sponsors"></span>
				</div>
				<div class="label">
					Sponsors
				</div>
			</div>
			<div class="statistic">
				<div class="value">
					<i class="users icon"></i> <span id="subscribers"></span>
				</div>
				<div class="label">
					Subscribers
				</div>
			</div>
		
		</div>
	
	
			<div class="ui divider"></div>
			
				
				<div class="meta">
					<i class="info circle icon"></i>
					These status were updates just now.
				</div>
				
				
				
			</div>
		
		</div>

	
	
	
	</div>

	
</div>



</div>


	
	<script src="/build/dist/scripts.js"></script>
	<script src="/build/dist/dashboard.js"></script>
  

  <!-- ejs -->
  
  	<% include ../partials/footer.ejs %>
  
  <!-- ejs -->
  
  


</body>

</html>